body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    background-size: 180% 180%;
}
.loader{
    border:30px solid black;
    border-radius: 5%;
    z-index: 1000;
    top:0;
    left:0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 118, 123);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size:100px;
    transition: all 0.5s ease;
}
.loader span{
    margin: 1%;
    opacity: 0;
    top:0;
    transform: translateY(-500%);
    animation: drop 2s forwards; 
}
.loader span:nth-child(1) { animation-delay: 0s; }
.loader span:nth-child(2) { animation-delay: 0.2s; }
.loader span:nth-child(3) { animation-delay: 0.4s; }
.loader span:nth-child(4) { animation-delay: 0.6s; }
.loader span:nth-child(5) { animation-delay: 0.8s; }
.loader span:nth-child(6) { animation-delay: 1.0s; }
.loader span:nth-child(7) { animation-delay: 1.2s; }
@keyframes drop {
  to {
    top:50%;
    transform: translateY(0);
    opacity: 1;
  }
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
p{
    color: rgb(38, 38, 38);
    font-size: 20px;
}
li{
    color: rgb(38, 38, 38);
    font-size: 20px;
}
.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px
}
.gradient-background{
    background-color: rgb(135, 118, 123);
    background-size: 180% 180%;
    border:3px solid black;
    border-radius: 5%;
    margin:30px 30px;
    box-shadow: 10px 10px;
}
span{
    font-family: cursive;
}
@keyframes flyInFromLeft {
    from {
      transform: translateX(-100%);  
      opacity: 0;                    
    }
    to {
      transform: translateX(0);    
      opacity: 1;                    
    }
  }
  
  .fly-in-text {
    animation: flyInFromLeft 2.0s ease-out forwards 3s; 
    display: inline-block;                     
  }
  

.text-bg-primary{
    background-color:#000000
}
.pro{
    position: relative;
    height: 350px !important;
    width: 380px !important;
    padding: 0px;
    border-bottom: 10px;
    overflow: hidden;
    text-align: center;
}
.hover-text{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.hover-img{
  transition: all 0.5s ease;
}
.pro:hover .hover-img{
    bottom: 0px !important;
    left: 0px !important;
    width: 50px;
    height: 50px;
    transform: none;
    
}
.pro:hover .hover-text {
    opacity: 1;
  }
.btn-primary{
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 1px 1px;
    border: 3px solid;
    color: rgb(255, 255, 255);
}
.btn-primary:hover{
    background-color: rgb(255, 255, 255);
    border: 3px solid white;
    color: #000000;
}
.btn-outline-secondary {
    color: rgb(55, 47, 57);
    border: 2px solid rgb(55, 47, 57);
    border-radius: 30px;
}
.btn-outline-secondary:hover{
    background-color: rgb(255, 255, 255);
    border: 3px solid white;
    color: #000000;
}
.list{
    list-style-type: none;
    padding: 0%;
}

.feature{
    height: 310px;
    width: 400px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 30px;
    transition: all 0.2s ease;
}
.feature:hover{
    scale:1.2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.feature-icon{
    background-color: #000000 !important;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
   
}
.nav-link{
    color: black;
    border: 1px solid #000000;
    margin-right: 5px;
}
.nav-link:hover{
    background-color: #000000 !important;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    border: 0.5px solid black;
    
}
a{
    text-decoration: none;
}
